body{ 
  background-image: url("https://i.ibb.co/jznjBQx/ezgif-com-rotate.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  color: rgb(92, 65, 240);
}

